# Ignore all potential build directories
build/
bin/
out/
cmake-build-*/

# Compiled Object files and Executables
*.o
*.obj
*.out
*.elf
*.bin
*.exe   

# --- CMake Generated ---
# Instead of listing them all, the build/ ignore covers most, 
# but these are good "just in case" you run cmake in the root:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# --- Editors & IDEs ---
.vscode/
*.code-workspace
.history/
.idea/

# --- OS Specific ---
.DS_Store
Thumbs.db

